<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gameland Events - Reservas</title>
    <link rel="stylesheet" href="Eventos.css">
</head>

<body>

    <header class="navbar">
        <img src="Imagenes/Gameland Logo.png" alt="Gameland Events" class="logo">
        <div class="search-box">
            <input type="text" placeholder="BUSCADOR...">
        </div>
    </header>

    <main class="content">
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/Tokyo_Game_Show.webp" alt="Cartel Tokyo Game Show"></div>
            <div class="details">
                <div class="text-block">
                    <h3>Tokyo Game Show</h3>
                    <p>La feria más grande de Asia.</p>
                </div>
                <a href="Detalle_TokyoGameShow.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Más información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/GAMEAWARD.jpg" alt="The Game Awards"></div>
            <div class="details">
                <div class="text-block">
                    <h3>The Game Awards</h3>
                    <p>Gala de premios al juego del año.</p>
                </div>
                <a href="Detalle_GameAward.html" class="btn-cancel" style="text-decoration:none; text-align:center;">Más
                    información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/Gamescom.webp" alt="Gamescom"></div>
            <div class="details">
                <div class="text-block">
                    <h3>Gamescom</h3>
                    <p>Evento europeo en Colonia.</p>
                </div>
                <a href="Detalle_GamesCom.html" class="btn-cancel" style="text-decoration:none; text-align:center;">Más
                    información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/E3_logo.webp" alt="E3 Expo"></div>
            <div class="details">
                <div class="text-block">
                    <h3>E3 Expo</h3>
                    <p>Novedades mundiales desde LA.</p>
                </div>
                <a href="Detalle_E3.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/Nintendo_Direct_Logo.png" alt="Nintendo Direct"></div>
            <div class="details">
                <div class="text-block">
                    <h3>Nintendo Direct</h3>
                    <p>Presentación exclusiva de Nintendo.</p>
                </div>
                <a href="Detalle_NintendoDirect.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/BlizzCon_logo.svg" alt="Blizzcon"></div>
            <div class="details">
                <div class="text-block">
                    <h3>Blizzcon</h3>
                    <p>El universo de Blizzard en vivo.</p>
                </div>
                <a href="Detalle_BlizzCon.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/State_Of_Play.webp" alt="State of Play"></div>
            <div class="details">
                <div class="text-block">
                    <h3>State of Play</h3>
                    <p>Lo último de PlayStation.</p>
                </div>
                <a href="Detalle_State_Of_Play.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Información</a>
            </div>
        </div>
        <div class="card">
            <div class="image-placeholder"><img src="Imagenes/Xbox_Game_ShowCase.jpg" alt="Xbox Showcase"></div>
            <div class="details">
                <div class="text-block">
                    <h3>Xbox Showcase</h3>
                    <p>El futuro de Game Pass y Xbox.</p>
                </div>
                <a href="Detalle_Xbox_ShowCase.html" class="btn-cancel"
                    style="text-decoration:none; text-align:center;">Información</a>
            </div>
        </div>
    </main>

    <footer class="pagination">
        <div class="arrow left"></div>
        <div class="dots-container">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="arrow right"></div>
    </footer>

</body>

</html>