<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="top-left-logo">
            <img src="Gameland Logo.png" alt="Gameland Events" class="mini-logo">
        </div>

        <main class="content-wrapper">
            <div class="form-container">
                <h2>LOGIN</h2>
                <p>ERES USUARIO O PROMOTOR ?</p>
                <div class="actions">
                    <a href="login-cliente.html" class="btn btn-cliente">CLIENTE</a>
                    <a href="login-promotor.html" class="btn btn-promotor">PROMOTOR</a>
                </div>
            </div>

            <div class="footer-link">
                <span>Aún no eres parte de la familia? </span>
                <a href="registro.html">regístrate aquí</a>
            </div>
        </main>
    </div>
</body>

</html>